# Copy this file to /complex_example/.env and use valid values

# GitHub OAuth configuration
GITHUB_KEY=17..f4
GITHUB_SECRET=746..749

# Cookie session
COOKIE_SECRET=S6lwdVn...zXF091liYQzFiJY

# Facebook OAuth configuration
FACEBOOK_KEY=12345..78899
FACEBOOK_SECRET=4d0dda1..9324923
