<h1>Login</h1>
<p>Choose one of the following providers:
<ul>
  <li><a href="<%= url('/auth/developer') %>">Developer
  <li><a href="<%= url('/auth/github') %>">Github
  <li><a href="<%= url('/auth/facebook') %>">Facebook
